---
import { getEntry } from "astro:content";
import euro from "../utils/euro";
import { Picture } from "astro:assets";
import { type ImageMetadata } from "astro";

export interface Props {
  cocktail: {
    data: {
      title: string;
      price: number;
      pic: ImageMetadata;
    };
    slug: string;
  };
}

const { cocktail } = Astro.props;
const entry = await getEntry("cocktails", cocktail.slug);
const { Content } = await entry!.render();
---

<a href=`/cocktails/${cocktail.slug}` class="flex max-w-sm flex-col overflow-hidden rounded-lg shadow-lg">
  <div class="m-auto w-2/3 justify-center sm:w-full">
    <Picture src={cocktail.data.pic} formats={["avif", "webp"]} alt={cocktail.data.title} />
  </div>

  <div class="flex-1 px-6 py-4">
    <div class="mb-2 text-xl font-bold">{cocktail.data.title}</div>
    <p class="text-base">
      <Content />
    </p>
  </div>

  <div class="flex-end px-6 py-2">
    <span class="mb-2 inline-block rounded-full bg-blue-200 px-10 py-1 font-semibold text-blue-700"
      >{euro.format(cocktail.data.price)}</span
    >
  </div>
</a>
