---
import { LOGO_IMAGE, SITE } from "@config";
import Navigation from "./Navigation.astro";
import { Image } from "astro:assets";
import TitleImage from "../assets/images/title-page.jpg";
import Logo from "../assets/images/logo.png";

export interface Props {
  current: string;
}

const { current } = Astro.props;
---

<header class="mx-auto w-full max-w-6xl">
  <div
    class="header__inner rounded-t-lg bg-gradient-to-r from-blue-100 to-blue-600"
  >
    <a
      class="header__logo mx-2 flex items-center justify-center space-x-2"
      href="/"
    >
      <Image src={Logo} alt={SITE.title} width="48" />
      <p>{SITE.title}</p>
    </a>
    <div class="header__navigation flex justify-center">
      <Navigation {current} />
    </div>
  </div>
  <div class="mx-auto flex items-center justify-center">
    <div class="relative flex max-w-6xl">
      <Image
        src={TitleImage}
        widths={[256, 512, 768, 1024, 1152, 2048]}
        alt="Willkommen im Restaurant Rhodos!"
      />
    </div>
  </div>
</header>
