---
import { getEntry } from "astro:content";
import euro from "../utils/euro";

export interface Props {
  coll: string;
  meal: {
    data: {
      title: string;
      price: number;
    };
    slug: string;
  };
}

const { meal, coll } = Astro.props;
const entry = await getEntry("lunch", meal.slug);
const { Content } = await entry!.render();
---

<li class="mx-2 mb-5">
  <a href={`/${coll}/${meal.slug}/`}>
    <div class="flex w-full justify-items-start">
      <div class="px-2 text-lg">
        <span>{meal.slug.toUpperCase()}.</span>
      </div>
      <div class="flex w-full">
        <div class="flex-auto">
          <div class="w-full flex-1 text-lg">
            {meal.data.title}
          </div>
          <div class="text-sm">
            <Content />
          </div>
        </div>
        <div>
          <span class="text-lg">{euro.format(meal.data.price)}</span>
        </div>
      </div>
    </div>
  </a>
</li>
